html {
    color: #222;
    font-size: 1em;
     line-height: 1.4; 
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
     border-top: 1px solid #ccc; 
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    padding-bottom: 25px;
}
.navbar{
    background-color: #002157;
    border-radius: 0;
}
.navbar-default{
    border: none;
}
.navbar-toggle--icon{
    border:none;
    color:white;
    font-size: 25px;
    padding: 0;
    height: auto;
    margin-top: 18px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}
.navbar-collapse{
    position: absolute;
    right: 0;
    top:0;
    padding-top: 5px;
}
.navbar-collapse__links a{
    color:white;
    padding: 5px;
}
.navbar-collapse__links span{
    color:white;
}
#brand{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 40px;
    line-height: 40px;
    width:250px;
    background-image: url('../img/logo-sprite.png');
    background-repeat: no-repeat;
}
.detail__title{
    color:#002157;
}
.detail__box{
    border: 1px solid #dcdcdd;
    background-color: #F6F6F8;
    color: #7C7C7E;
    padding: 10px 0 10px 0;
}
.detail__box div{
    padding-top: 10px;
}
.detail__box__title{
    padding-left: 10px;
}
.detail__box__list{
    list-style-type: none;
    padding-left: 0;
}
.detail__box__list li::before{
    content:"-";
    color: #7C7C7E;
    padding-right: 5px;
}
.detail__box__text{
    width: 100%;
    padding-left: 15px;
    resize: none;
    border: 1px solid #dcdcdd;
}
.table{
    margin-top: 1.5em;
}
.table table{
    border: 1px solid #dcdcdd;
}
.table table thead tr:first-child{
    font-weight: bold;
    background-color: #F6F6F8;
}
.table table tr td{
    text-align: center;
}
.filter__top{
    background-color: #F6F6F8;
    border: 1px solid #dcdcdd;
    padding: 5px;
    margin-top: 1.5em;
}
.filter__top__title h6{
    font-weight: bold;
}
.filter__body{
    background-color: #F6F6F8;
    border: 1px solid #dcdcdd;
    padding: 15px;
}
.filter__body__line{
    padding: 10px 0 10px 0;
}

/* Custom Media Query */
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      position: relative;
  }
  .navbar-collapse__links span{
        display: none;
    }
    .navbar-collapse__links a{
        display: block;
    }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .table--radio{
        display:none;
    }
    .filter__body__line{
        padding: 0;
    }
    .filter__body__line>div{
        padding: 10px;
    }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}